/* CSS */
.button-49 {
  height: 76px;
  line-height: 78px;
  margin-top: -80px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #c00d0d 5%);
  border: 0;
  color: #fff;
  float: left;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-49:hover {
  background: linear-gradient(45deg, transparent 5%, black 5%);
  transition: 0.7s;
}
@media (min-width: 768px) {
  .button-49 {
    width: 200px;
    margin-left: 560px;
    margin-bottom: 100px;
    height: 86px;
    line-height: 88px;
  }
}
